html, body{
    height: 100%;
}

#myTextArea {
    position: absolute;
    top: 560px;
    left: 225px;
    background-color: rgb(255, 255, 255, 0.1); 
    height: 38px;
    width: 260px;
    font-size: 23px;
    text-decoration-color: white;
    color: white;
    /* color: blue */
    display: none;
}

#btnEnter {
    position: absolute;
    top: 560px;
    left: 510px;
    display: none;
}